/*POLICES*/
@font-face {
    font-family: 'RalewayRegular';
    src: url('typo/Raleway-Regular.ttf') format('truetype');
    font-family: 'RalewayBold';
    src: url('typo/Raleway-Bold.ttf') format('truetype');
    font-family: 'RalewayItalic';
    src: url('typo/Raleway-Italic.ttf') format('truetype');
}
/*GENERAL*/
body {
    font-family: 'RalewayRegular', Arial, serif;
    font-size: 1em;
    margin: 0;
}
h1, h2, h3 {
    font-family: 'RalewayBold', Arial, serif;
}
h1, h2 {
    font-size: 1.375em;
}
h3 {
    font-size: 1.125em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-family: 'RalewayRegular', Arial, serif;
    font-size: 1em;
    font-weight: 400;
    margin-top: 16px;
    margin-left: 10px;
}
header {
    padding-top: 30px;
    padding-left: 2vw;
    padding-right: 2vw;
}
main {
    padding-left: 2vw;
    padding-right: 2vw;
}
footer {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 30px;
}
a {
    text-decoration: none;
    font-size: 1em;
}
mark {
    font-family: 'RalewayItalic', Arial, serif;
    background-color: transparent;
}
/*MENU : LOGO + NAV BARRE*/
#navDesktop {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5vh;
}
#navMobile {
    display: none;
}
.logo {
    width: auto;
    height: 40px;
}
nav > ul {
    display: flex;
}
#navDesktop > ul > li {
    list-style-type: none;
    padding-right: 60px;
}
/*ONGLETS NAV*/
.hebergement {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 40px;
}
.activites {
    color: black;
}
.sincrire {
    color: #0065FC;
}
/*BARRE DE RECHERCHE*/
#barreDeRecherche {
    display: flex;
    flex-direction: inline;
    margin-bottom: 30px;
}
span#iconeLocalisation {
    display: inline-block;
    height: 53px;
    width: 53px;
    border-radius: 20px 0px 0px 20px;
    background-color: #F2F2F2;
}
i.fas.fa-map-marker-alt {
    padding-top: 18px;
    padding-left: 20px;
}
#rechercher {
    display: inline-block;
    height: 50px;
    width: 235px;
    padding-left: 10px;
    border: 1px solid #F2F2F2;
}
#rechercher::placeholder {
    color: rgba(0, 0, 0, 1);
    font-size: 1.188em;
}
#labelRechercherDesktop {
    display: inline-block;
    height: 35px;
    width: 130px;
    font-size: 18px;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 20px 20px 0px;
    padding-top: 18px;
    padding-left: 20px;
}
#labelRechercherMobile {
    display: none;
}
/*FILTRE*/
#filtre {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}
section#filtre > h3 {
    margin-right: 20px;
}
.criteresFiltre {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-right: 20px;
    height: 48px;
    border-radius: 48px;
    border: 2px solid #F2F2F2;
    padding-right: 20px;
}
.criteresFiltre:hover {
    background-color: #0065FC;
    color: white;
}
.contourIcones {
    background-color:#DEEBFF;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    color: #0065FC;
}
.fas.fa-money-bill-wave, .fas.fa-child, .fas.fa-heart, .fas.fa-dog {
    padding-top: 18px;
    display: flex;
    justify-content: center;
}
div.criteresFiltre > h3 {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
}
/*PARTIE INFO*/
#sectionInfo {
    display: flex;
    margin-bottom: 40px;
}
#contourInfo {
    width: 8px;
    height: 8px;
    border-radius: 38px;
    border: 2px solid #F2F2F2;
    margin-top: 11px;
    color: #0065FC;
    font-size: 13px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#sectionInfo > p {
    padding-left: 1.4vw;
}
/*SECTION HEBERGEMENTS*/
.image {
    display: flex;
    background-size: cover;
    width: 16vw;
    height: 115px;
    border-radius: 20px 20px 0px 0px;
    align-items: center;
    overflow: hidden;
}
.image > img {
    width: 16vw;
    height: auto;
}
#sectionHebergementPopulaire {
    display: flex;
    justify-content: space-between;
}
#divHebergement, aside {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 20px;
    height: 620px;
}
#divHebergement {
    width: 60vw;
}
aside {
    width: 28vw;
}
.etoiles {
    padding-left: 9px;
}
#divHebergement > h2, #divHebergement > h3 {
    width: 90vw;
    padding-left: 2vw;
}
#divHebergement > h2 {
    margin-bottom: 20px;
    margin-top: 40px;
}
#divHebergement > a {
    background-color: white;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 20px;
    height: 200px;
    color: black;
}
#divHebergement > a > h4, #divHebergement > a > p {
    margin: 5px;
}
.startFull {
    color: #0065FC;
    font-size: 0.688em;
}
.startEmpty {
    color: #F2F2F2;
    font-size: 0.813em;
}
/*SECTION LES PLUS POPULAIRES*/
#articleAside {
    display: flex;
    width: 90vw;
    justify-content: space-between;
}
#articleAside > h2 {
    margin-top: 40px;
    margin-bottom: 2px;
    padding-left: 2vw;
}
.fas.fa-chart-line {
    padding-top: 25px;
    margin-top: 20px;
    padding-right: 2vw;
}
.lienAside {
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 20px 20px 20px 20px;
    width: 24vw;
    height: 134px;
}
.lienAside > .divAside {
    border-radius: 20px 0px 0px 20px;
    width: 9vw;
    height: 134px;
    overflow: hidden;;
}
.lienAside > .divAside > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lienAside > div {
    width: 15vw;
}
.lienAside > div > h4, .lienAside > div > p {
    margin: 5px;
    margin-top: 10px;
    color: black;
    padding-left: 10px;
}
.divAsideStart {
    margin-left: 10px;
}
/*SECTION ACTIVITES*/
#sectionActivites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-top: 40px;
}
#sectionActivites > h2 {
    width:90vw;
    padding-bottom: 10px;
    padding-left: 3px;
}
.divActivites > h4 {
    padding-left: 20px;
}
.divActivites {
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}
.doublesCartes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.divGrandeImage {
    width: 21vw;
    height: 464px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    position: relative;
}
.imgGrandeActivites {
    width: auto;
    height: 508px;
    position: absolute;
    left: -200px;
}
#divFort {
    border-radius: 20px 20px 0px 0px;
    width: 21vw;
    height: 225px;
    overflow: hidden;
}
#imgFort {
    width: 100%;
    height: 130%;
    object-fit: cover;
}
.divMoyenneImage {
    border-radius: 20px 20px 0px 0px;
    width: 21vw;
    height: 180px;
    overflow: hidden;
}
.imgMoyenneActivites {
    width: 100%;
    height: 130%;
    object-fit: cover;
}
.divPetiteImage {
    border-radius: 20px 20px 0px 0px;
    width: 21vw;
    height: 108px;
    overflow: hidden;
}
.imgPetiteActivites {
    width: 100%;
    height: 140%;
    object-fit: cover;

}
/*FOOTER*/
footer {
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
}
.sectionFooter {
    width: 32vw;
    padding-top: 30px;
}
.sectionFooter > ul {
    flex-direction: column;
    padding-left: 0px !important;
}
.sectionFooter > ul > li {
    list-style-type: none;
    padding-bottom: 10px;
}
.sectionFooter > ul > li > a {
    text-decoration: none;
    color: black;
}
/*VERSION TABLETTE*/
@media (max-width: 1111px) {
    /*Général - version tablette*/
    main {
        padding-left: 0vw;
        padding-right: 0vw;
    }
    #sectionTitre, #filtre, #sectionInfo, #sectionActivites {
        margin-left: 2.3vw;
        margin-right: 2.3vw;
    }
    #filtre {
        margin-left: 2vw;
    }
    /*Filtre - version tablette*/
    #filtre {
        flex-wrap: wrap;
    }
    .criteresFiltre {
        margin-right: 20px;
        margin-bottom: 20px;
        padding-right: 7px;
    }
    /*Hébergements et les plus populaires - version tablette*/
    #sectionHebergementPopulaire {
        flex-wrap: wrap;
    }
    #divHebergement, aside {
        width: 100vw;
        border-radius: 0px;
        height: auto;
    }
    #divHebergement {
        background-color: white;
    }
    #divHebergement > a {
        width: 40vw;
        border-radius: 25px;
        box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.07);
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .image {
        width: 40vw;
    }
    .image > img {
        width: 40vw;
        height: auto;
    }
    .lienAside {
        width: 85vw;
        margin-bottom: 20px;
    }
    .lienAside > .divAside {
        width: 22vw;
    }
    .lienAside > div {
        width: 45vw;
    }
    #articleAside {
        margin-top: 15px;
    }
    #articleAside > h2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .fas.fa-chart-line {
        margin-top: 1px;
    }
    /*Activités - version tablette*/
    #sectionActivites > h2 {
        width: 85vw;
        text-align: left;
        padding-left: 0px;
    }
    .divGrandeImage {
        height: 400px;
        width: 44vw;
    }
    .divMoyenneImage {
        width: 44vw;
        height: 155px;
    }
    .divPetiteImage {
        width: 44vw;
        height: 90px;
    }
    #divFort {
        width: 44vw;
    }
    .imgMoyenneActivites, .imgPetiteActivites {
        width: 135%;
        height: 100%;
        object-fit: cover;
    }
    .imgGrandeActivites {
        width: 100vw;
        height: 100%;
        object-fit: cover;
    }
    .divActivites {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
/*FORMAT MOBILE*/
@media (max-width: 700px){
    #sectionActivites {
        justify-content: center;
    }
}
@media (max-width: 626px){
    /*Menu - version mobile*/
    #navDesktop {
        display: none;
    }
    #navMobile {
        display: block;
    }
    #premiereLigneVersionMobile {
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }
    .sincrire {
        padding-top: 10px;
    }
    .hebergement {
        border-top: none;
        padding-top: 0px;
        border-bottom: 2px solid #0065FC;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
    }
    .activites {
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;
    }
    nav#navMobile > ul {
        display: flex;
        justify-content: center !important;
        padding-left: 0px;
    }
    #navMobile > ul > li {
        list-style-type: none;
        margin-bottom: 20px;
    }
    /*Barre de recherche - version mobile*/
    #labelRechercherMobile {
        display: block;
    }
    #rechercher {
        width: 200px;
    }
    #labelRechercherDesktop {
        display: none;
    }
    #iconeRecherche {
        color: white;
        background-color: #0065FC;
        display: inline-block;
        height: 53px;
        width: 53px;
        border-radius: 20px 20px 20px 20px;
        position: absolute;
        top: 316px;
        left: 254px;
    }
    .fas.fa-search {
        padding-top: 19px;
        padding-left: 18px;
    }
    /*Filtre - version mobile*/
    section#filtre > h3 {
        width: 90vw;
    }
    .criteresFiltre {
        margin-right: 15px;
    }
    /*Partie info - version mobile*/
    #contourInfo {
        width: 8px;
        height: 8px;
        border-radius: 18px;
        margin-left: 10px;
        margin-top: 11px;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }
    /*Les plus populaires - version mobile*/
    #sectionHebergementPopulaire {
        flex-direction: column-reverse;
    }
    .lienAside > .divAside {
        width: 40vw;
    }
    /*Hébergements - version mobile*/
    #divHebergement {
        flex-direction: column;
        align-items: center;
    }
    #divHebergement > h2, #divHebergement > h3 {
        padding-left: 5vw;
    }
    #divHebergement > a {
        width: 83vw;
    }
    .image {
        width: 83vw;
    }
    .image > img {
        width: 83vw;
        height: auto;
    }
    /*Activités - version mobile*/
    #sectionActivites {
        flex-direction: column;
        align-items: center;
    }
    #sectionActivites > h2 {
        width: 85vw;
        text-align: left;
        padding-left: 0px;
    }
    #divFort, .divMoyenneImage, .divPetiteImage {
        width: 85vw;
        height: 130px;
        position: relative;
    }
    .imgMoyenneActivites, .imgPetiteActivites {
        width: 104vw;
        height: 177px;
        position: absolute;
        left: -31px;
        top: -1px;
    }
    .divGrandeImage {
        width: 85vw;
        height: 130px;
    }
    .imgGrandeActivites {
        width: 139vw;
        height: 240px;
        top: -38px;
        left: -106px;
    }
    .divActivites {
        margin-top: 15px;
        margin-bottom: 15px;
        height: 188px;
    }
    /*Footer - version mobile*/
    footer {
        flex-wrap: wrap;
        flex-direction: column;
        padding: 30px;
    }
    .sectionFooter {
        padding-right: 0px;
        width: 80vw;
    }
}
@media (max-width: 380px){
    div.criteresFiltre > h3 {
        padding-left: 4px;
        padding-right: 4px;
    }
    .criteresFiltre {
        margin-right: 2px;
        padding-right: 3px;
    }
    .lienAside > .divAside {
        width: 40vw;
    }
}